
# This package needs a .env file (which doesn't get checked into git with these parameters to run:


# see the https://github.com/O365/python-o365#authentication section for how to generate these
CLIENT_ID = 'microsoft graph application client id'
CLIENT_SECRET = 'microsoft graph application client secret' 

# this needs to be a volunteer connection user with permission to run the reports: either someone with disaster
# management privileges in the region, or someone checked into the DR in a staff services role
SCRAPE_USER = 'vc username'
SCRAPE_PASS = 'password'
